& when (@media-common = true) {

    .nav-sections {
        background-color: @color-sky-blue1;

        .navigation {
            background-color: @color-sky-blue1;
        }

        .navigation .level0 > .level-top {
            color: @color-white;
        }
    }

    a,
    a:visited,
    a:hover {
        color: @color-orange-red1;
    }
}
